LunaFixes/PartSyncSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ModuleDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Fields">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="FieldDefinition">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FieldName" type="xs:string" />
										<xs:element minOccurs="0" name="MaxIntervalInMs" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="UniqueFieldName">
						<xs:selector xpath="FieldDefinition" />
						<xs:field xpath="FieldName" />
					</xs:unique>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="Methods">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="MethodDefinition">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MethodName" type="xs:string" />
										<xs:element minOccurs="0" name="MaxIntervalInMs" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="UniqueMethodName">
						<xs:selector xpath="MethodDefinition" />
						<xs:field xpath="MethodName" />
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		
	</xs:element>
</xs:schema>